<div class="login-page">

  <div class="login-container">
    <div class="login-card">
      <h2>🏦 MyBank Login</h2>

      <form [formGroup]="form" (ngSubmit)="login()">

        <!-- EMAIL -->
        <div class="input-group">
          <span class="icon">✉️</span>
          <input
            type="email"
            placeholder="Enter Email"
            formControlName="email"
          />
        </div>

        <div id="email" class="error" *ngIf="email?.touched && email?.invalid">
          <small *ngIf="email?.errors?.['required']">Email is required</small>
          <small *ngIf="email?.errors?.['email']">Invalid email format</small>
        </div>

        <!-- PASSWORD -->
        <div class="input-group">
          <span class="icon">🔑</span>
          <input
            type="password"
            placeholder="Enter Password"
            formControlName="password"
          />
        </div>

        <div id="password" class="error" *ngIf="password?.touched && password?.invalid">
          <small *ngIf="password?.errors?.['required']">Password is required</small>
          <small *ngIf="password?.errors?.['minlength']">Minimum 6 characters</small>
        </div>

        <!-- BUTTON -->
        <button
          type="submit"
          class="login-btn"
          [disabled]="form.invalid || isLoading"
        >
          <ng-container *ngIf="!isLoading; else loadingTpl">
            Login
          </ng-container>

          <ng-template #loadingTpl>
            ⏳ Logging in...
          </ng-template>
        </button>

      </form>

      <!-- GLOBAL ERROR -->
      <div *ngIf="error" class="error-message">
        {{ error }}
      </div>

    </div>
  </div>

</div>