
<h2 class="title">💳 Your Accounts</h2>
<p class="subtitle">
  View and manage your accounts
</p>

<!-- 🔹 Loading -->
<div *ngIf="loading">Loading accounts...</div>

<!-- 🔹 Data -->
<div *ngIf="!loading">

  <!-- 🔹 Empty State -->
  <div *ngIf="paginatedAccounts.length === 0">
    No accounts found
  </div>

  <!-- 🔹 Account Cards -->
  <div class="account-container">

    <div 
      class="account-card"
      *ngFor="let acc of paginatedAccounts"
      (click)="openAccount(acc)"
    >

      <!-- 🔹 Top Row -->
      <div class="acc-header">
        <div class="acc-type">
          💼 {{ acc.type }} Account
        </div>

      </div>
      <!-- 🔹 Customer Name -->
      <div class="acc-name">
        {{ acc.customerName }}
      </div>

      <div class="acc-balance">
  ₹ {{ acc.balance | number:'1.2-2' }}
</div>

      <!-- 🔹 Branch -->
      <div class="acc-branch">
        🏦 {{ acc.branch }} Branch
      </div>

    </div>

  </div>

  <!-- 🔹 Pagination -->
  <div class="pagination">

    <button (click)="prevPage()" [disabled]="currentPage === 1">
      ⬅ Prev
    </button>

    <span>Page {{ currentPage }} of {{ totalPages }}</span>

    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      Next ➡
    </button>

  </div>

</div>